html {
	font-size: 62.5%;
}
body {
	background: #511086;

}

main {
	max-width: 960px;
	background: #3EC572;
	color: #44126C;
	font-size: 1.5em;
	width: 80%;
	margin: 0px auto;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}

header {
	overflow: hidden;
	display:block;
	background:#6C480D;
	height: 17em;
	width: 100%;
	margin: 0px auto;
	border-bottom: 10px solid #B98228;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}

h1 {
	margin: 0;
	color: #B98228;
	padding: 10px 0 0 20px;
	font-size: 3rem;
	text-shadow: 1.1em 0.5em #3EC572, 2.2em 1em #44126C, 3.3em 1.5em #B98228, 4.4em 2em #3EC572, 5.5em 2.5em #44126C;
}
/*.title {
	padding-right: 1em;
}*/
nav {

	display: inline-block;
	width:100%;
	text-align: center;
	background: #3EC572;
	margin: auto;
	top: 7.5em;
	position: relative;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	border-bottom: 10px solid #B98228;
	border-top: 10px solid #B98228;
}
nav a {
	font-size: 1.1em;
	display:inline-block;
	color: #6C480D;
	text-shadow: 1.1em 0.5em #B98228, 2.2em 1em #44126C ;
	text-decoration: none;
	padding: 1.4em 1em;
	font-weight: bold;
}

.content {
	padding: 20px;
	overflow: hidden;
}

.pictures {
		display: inline;
		text-align: center;
	}

.smallPictures img {
	max-width: 150px;
}

.bigPicture img {
	width: 100%;
}

/*@media screen and (max-width: 650px) {
	
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	
}
*/

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	html {
		font-size: 125%;
	}
	h1 {
		text-shadow: 1.1em 0.5em #3EC572, 2.2em 1em #44126C;
		padding-top: 1em;
	}
	.firstRowBut {
		display: block;
		clear: both;
	}
	nav a {
		padding: .8em 1em;
	}
	.secondRowBut a {
		padding-bottom: 1em;
	}
	header {
		height: 19em;
	}
}
